@import url('https://fonts.googleapis.com/css2?family=Cabin,wght@1,500&family=Noto+Sans+JP:wght@300&family=Oswald:wght@600&family=Roboto:wght@300&display=swap');


*{
    /* height: 0; */
    margin: 0;
    padding: 0;
    font-family: 'Cabin', sans-serif;   
}
body{
    background-color: #2A4651;
}
#amazon {
  width: 8rem;
}

#bg{
    height: 86.5vh ;
    background-image: url(./assets/background\ picture.png);
    background-repeat: no-repeat;
    background-size: 100%;

}
/* header1 */
#head1{
    display: flex;
    /* border: 1px solid black; */
    height: 60px;
    width: 100%;
    background-color:#131921;
    justify-content: space-around;
    top: 0;
    /* align-items: center; */
}
#hello{
    color: white;
    margin-top: 13px;
    /* padding:; */
}
#location{
    display: flex;
    
}
#l_id{
    margin-top: 29px;
}
#add{
    color: white;
    /* margin-top: 15px; */
    padding: 0;

}
#input{
    width: 600px;
    height:50px;
    /* border: 1px solid green; */
    display: flex;
    border-radius: 10px;
    margin-top: 5px;
}
#select{
    height: 50px;
    width: 50px;
    color: gray;
    border-radius: 10px 0px 0px 10px ;
    
}
#input1{
    height: 47px;
    width: 500px;
}
#search{
    height: 50px;
    width: 50px;
    border-radius: 0px 10px 10px 0px ;
    background-color: #F59817;

    
}
#img-s{
    margin-top: 10px;
    margin-left: 5px;
    height: 30px;
}
#flag{
    height: 50px;
    width: 50px;  
    /* border: 1px solid green; */
    display: flex; 
    justify-content: center;
    align-items: center;
    margin-top: 14px;

}
#arrow{
    margin-top: 35px;
}
#text{
    height: 50px;
    width: 180px;  
    /* border: 1px solid green; */
    display: flex; 
    justify-content:center;
}
.smalltxt{
    font-family: 'Cabin', sans-serif;
    color: white;
    font-size: small;
    margin-top: 13px;

}
.mediumtxt,.mediumtext{
    color: white;
    font-size: medium;
    font-family: 'Cabin', sans-serif;

    /* padding: 0; */
}
.mediumtxt{
    margin-top: -15px;

}
#cart{
    /* border: 1px solid green; */
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#carttxt{
    margin-top: 10px;
}


/* header 2 */


#head2{
    height: 40px;
    background-color: #232F3E;
    display: flex;
    font-family: 'Roboto', sans-serif;
    justify-content: space-between;

    

}
#part1{
    width: 1100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* border: 1px solid red; */
    
}
#prime{
    display: flex;
    justify-content: flex-end;
}
.text2{
    color: white;
    font-size: medium;
    font-family: 'Cabin', sans-serif;

}


/* part2 */
#part2{
    /* border: 1px solid red; */
    width: 350px;
    display: flex;
    /* justify-content: space-between; */
}


#lion{
    height: 40px;
}
.text3{
    /* font-weight: 800; */
    color: white;
    /* font-size: medium; */
    font-family: 'Cabin',sans-serif;
    
    font-size: large;
}




/* web body style  */
#webBody{
    height: 600px;
    width: 1480px;
    /* border: 1px solid red; */
    margin-left: 20px;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    margin-top: 45px;
    

}
.box{

    height: 300px;
    width: 200px;
    /* border: 1px solid red; */
    background-color: black;

}

/* mid part  */
#middle{
    display: flex;
    justify-content: space-around;
    /* position: relative; */
    position: absolute;
    top: 380px;
    z-index: 1;
    width: 98vw;
    /* left: 40px; */

}
.tabs{
    height: 350px;
    width: 340px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
}

#tab4{
    height: 350px;
    width: 340px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}
a{
    text-align: left;
}
.tab{
    height: 130px;
    width: 340px;
    background-color: white;
}

.heading{
    margin: 10px 0px 0px 5px;
    font-size: 20px;
    font-weight: 10px;
}

#signin{
    width: 20vw;
    height: 5vh;
    margin: 10px 0px 0px 13px;
    background-color: #FFD814;
    border: none;
    border-radius: 10px;
    /* font-size: 20px; */
    font-weight: 700;

}

.containerforimg{
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-left: 20px;
}


.imgnames{
    height: 100px;

}

/* Responsive  */
@media screen and (max-width: 768px) {
  #part1 {
    display: none;
  }
  #logo{
    width: 40px;
    margin: 0;
    padding: 0;


  }
  #location {
    display: none;
  }
  #amazon {
    width: 50px;
    margin-top: 15px;

  }

  /* header1 */
  #head1 {
    height: 60px;
    width: 100%;
    background-color: #131921;
    /* justify-content: space-around; */
    /* top: 0; */
  }

  #input {
    width: 30px;
    height: 10px;
    margin-right: 50px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin-top: 15px;
  }
  #select {
    height: 30px;
    width: 40px;
    font-size: small;
    
  }
  #input1 {
    height: 27px;
    width: 100px;
  }
  #search {
    height: 30px;
    width: 100px;
    display: flex;
    justify-content: center;
    /* align-items: center; */

  }
  #img-s {
    margin-top: 10px;
    margin-right: 10px; 
    height: 10px;
  }

  #flag {
    display: none;
  }

  #text {
    display: none;
  }



 
  #cart {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10px;
    height: 10px;
    margin-top: 30px;
  }
  #cartimg{
    height: 30px;
  }

  #middle{
    display: flex;
    flex-direction: column;
    background-color: #2A4651;
    padding-left: 20px;
    /* justify-content: center; */
    align-items: center;

  }
  .tabs{
    margin-bottom: 20px;
    margin-top: 20px;

  }
    #tab4{
    margin-top: 20px;
  }
  


  /* navbar completed */



  /* body  */



}



